<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="gallery row pb-2" lg-uid="lg0">
        <div class="col-sm-8"><a class="gallery-item rounded-3 mb-grid-gutter" href="imgs/main1.jpg">
                <img
                    src="imgs/main1.jpg" alt="Gallery image"><span class="gallery-item-caption">Gallery image
                    caption #1</span></a></div>
        <div class="col-sm-4"><a class="gallery-item rounded-3 mb-grid-gutter" href="imgs/mainn.jpg"
                alt="Gallery image"><span class="gallery-item-caption">Gallery image caption #2</span></a><a
                class="gallery-item rounded-3 mb-grid-gutter" href="img/blog/single/03.jpg"
                data-bs-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Gallery image caption #3</h6>"><img
                    src="img/blog/single/th03.jpg" alt="Gallery image"><span class="gallery-item-caption">Gallery image
                    caption #3</span></a></div>
    </div>
</body>

</html>